* {
    text-decoration: none;
    color: #eaeaea;
}

ul,ol{
    list-style: none;
}

header {
    display: flex;
    width: 100vw;
    background-color: #111111;
    color: #eaeaea;
    justify-content: center;
    align-items: center;
    height: 10vh;
    text-align: center;
}

img {
    width: 100%;
}

.logo{
    width: calc(100%/7);
    position: absolute;
    left: 1%;
}

ul {
    display: flex;
}

li {
    font-weight: bold;
    position: relative;
}
li a:hover{
    color: skyblue;
    transition: .3s;
    transform: translate();
}
li a {
    padding: 28px 15px
}


